<div class="form-inline">
<div class="form-group">
  <label>Filter</label>
  <select ng-model="taskStatus" class="form-control input-sm">
    <option value="">opened tasks</option>
    <option value="CLOSED">closed tasks</option>
    <option value="all">all tasks</option>
  </select>
</div>
<div class="form-group">
  <label>Search</label>
  <input type="text" ng-model="taskSearch" class="form-control input-sm" />
</div>
</div>
<br />
<br />
<div class="list-group">
  <div class="list-group-item clearfix" ng-class="{'list-group-item-info': isActive(task)}" ng-repeat="task in tasks | taskStatusFilter:taskStatus | filter:taskSearch">
    <div data-toggle="collapse" data-target="#collapse-{{$index}}" class="collapse-trigger collapsed">
      <div class="row">
      <div class="col-sm-1" style="padding-left: 40px;">
        <span class="label label-default">{{task.status || 'open'}}</span>
      </div>
      <div class="col-sm-8">
        {{task.description}}
      </div>
      <div class="col-sm-1">
        Spent {{task.time_ellapsed}}
      </div>
      <div class="col-sm-2">
      <a ng-click="modalTask($event, task)" href="#" class="btn btn-default btn-xs pull-right">Edit</a>
      <button ng-click="toggleActive($event, task)" ng-disabled="disabledActive(task)" class="btn btn-default btn-xs pull-right">{{activeText(task)}}</button>
      <button ng-click="toggleClose($event, task)" class="btn btn-default btn-xs pull-right">{{closeText(task)}}</button>
      </div>
    </div>
    <div id="collapse-{{$index}}" class="collapse">
      <hr />
      <div class="row">
        <div class="col-md-4">
          <b>Creation date</b>: {{task.creation_date | date: 'medium'}}<br />
          <b>Completed date</b>: {{task.completed_date || '-' | date : 'medium'}}
        </div>
        <div class="col-md-4">
          <b>Projet</b>: {{task.project || '-'}}<br />
          <b>Bug id</b>: {{task.bug_id || '-'}}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
