<div class="list-group">
  <div class="list-group-item" ng-class="{'list-group-item-info': isActive(task)}" ng-repeat="task in tasks">
    <b>Description</b>: {{task.description}}
    <hr />
    <div class="row">
      <div class="col-md-4">
        <b>Status</b>: {{task.status || '-'}}<br />
        <b>Priority</b>: {{task.priority || '-'}}
      </div>
      <div class="col-md-4">
        <b>Projet</b>: {{task.idproject || '-'}}<br />
        <b>Bug id</b>: {{task.bug_id || '-'}}
      </div>
      <div class="col-md-4">
        <b>Creation date</b>:<br /> {{task.creation_date | date: 'medium'}}<br />
        <b>Completed date</b>:<br /> {{task.completed_date || '-' | date : 'medium'}}
      </div>
    </div>
    <button ng-click="setActive(task)" ng-disabled="isActive(task)" class="btn btn-default">Active this task</button>
  </div>
</div>
